@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');

body {
    font-family: 'Cormorant SC', serif;
    background-color: #F3F1FF;
}

hr {
    border: 1px solid #D1D1D1;

}

/* content and utiliti */
.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* blogs */
.section2-title {
    color: #562EFF;
    font-size: 24px;
    /* margin-top: 3px; */
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.blog {
    display: flex;
}

.blog img {
    width: 177px;
    height: 117px;
    left: 315px;
    top: 507px;
    margin-bottom: 26px;
}

.blog-name {
    margin-left: 16px;
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    color: #562EFF;
    text-decoration: none;
}